template(name="Widget")
  div(class=classes style=style)
    .widget-header.action-edit
      if isEditingWidget
        button.action-save Save
      img(src=owner.profile.avatar)
      button.action-delete X
    if isEditingWidget
      .widget-body
        +WidgetContentsEditor(contents=contents)
        unless hasVotes
          .voting-template-selector
            span Desired Feedback:
            each votingTemplates
              button.action-select-template(value=_id)
                = name
    else
      .widget-body
        = contents
    .widget-votes
      ul
        each voteLines
          li.vote-line
            button.action-vote(name=name)
              = name
            each voters
              img.voter(class=klass src=avatar title=name)

template(name="WidgetContentsEditor")
  textarea.widget-contents-editor
    = contents
