head
  title krazy.io

body
  +application

template(name='application')

  #topbar.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
      ul.nav.navbar-nav.navbar-left
        a.navbar-brand krazy.io

  #userbar
    if currentUser
      +with currentUser
        +userbar
    +loginButtons

  #main
    if currentUser
      +board

template(name="userbar")
  img(src=profile.avatar width="30" height="30")

template(name="board")
  h1 My Board
  //input#magicBar(type="text" placeholder="type, friend")
  button#newWidget new widget
  #board
    each widgets
      +widget

template(name="widget")
  .widget(style=style)
    .widget-header
      if editable
        button.save Save
      img(src=owner.profile.avatar)
      button.delete X
    if editable
      div.widget-body
        textarea#widgetContentsEditor
          = contents
        unless hasVotes
          div
            span Desired Feedback:
            select#votingTemplateSelector
              each votingTemplates
                option(value=id,selected=current) 
                  = name
    else
      div.widget-body
        = contents
    div.widget-votes
      ul 
        each votesArray
          li 
            .vote-line
              button.vote(name=option,class=klass)
                = option
              each votes
                img(src=profile.avatar)
              if userVote
                button.unvote(name=option) X