head
  title krazy.io

body
  +application

template(name='application')

  #topbar
    #logo
    #brand krazy.io
    #userbar
      if currentUser
        +with currentUser
          +userbar
      +loginButtons

  #main
    if currentUser
      +board

template(name="userbar")
  img(src=profile.avatar width="32" height="32" style="vertical-align: bottom")

template(name="board")
  h1 My Board
  button#newWidget new widget
  #board
    each widgets
      +widget

template(name="widget")
  div(class=classes style=style)
    .widget-header
      if isEditingWidget
        button.save Save
      img(src=owner.profile.avatar)
      button.delete X
    if isEditingWidget
      .widget-body
        +widgetContentsEditor(contents=contents)
        unless hasVotes
          div
            span Desired Feedback:
            select#votingTemplateSelector
              option
              each votingTemplates
                option(value=_id)
                  = name
    else
      .widget-body
        = contents
    .widget-votes
      ul
        each arraify votes
          li
            .vote-line
              button.vote(name=key)
                = key
              each value
                img.voter(src=profile.avatar)
                if iAmVoter this
                  button.unvote(name=key) X

template(name="widgetContentsEditor")
  textarea.widgetContentsEditor
    = contents
