head
  title krazy.io

body
  +application

template(name='application')

  #topbar
    #logo
    #brand krazy.io
    #userbar
      if currentUser
        +with currentUser
          +userbar
      +loginButtons

  #main
    if currentUser
      +board

template(name="userbar")
  img(src=profile.avatar width="32" height="32" style="vertical-align: bottom")

template(name="board")
  h1 My Board
  input#magicBar(type="text" placeholder="type, friend")
  #board
    each widgets
      +widget

template(name="widget")
  div(class=classes style=style)
    .widget-header
      img(src=owner.profile.avatar width="20" height="20")
      if canEdit
        button.delete X
    if editable
      .widget-body
        textarea
          = contents
        if canEdit
          button.save Save
    else
      .widget-body
        = contents
    .widget-votes
      .vote-option
        .vote-option-name
          a.yes Yes:
        .voters
          each votes.yes
            img.voter(src=profile.avatar width="20" height="20")
      .vote-option
        .vote-option-name
          a.no No:
        .voters
          each votes.no
            img.voter(src=profile.avatar width="20" height="20")
