head
  title krazy.io

body
  +application

template(name='application')

  #topbar
    #logo
    #brand krazy.io
    #userbar
      if currentUser
        +with currentUser
          +userbar
      +loginButtons

  #main
    if currentUser
      +board

template(name="userbar")
  img(src=profile.avatar width="32" height="32" style="vertical-align: bottom")

template(name="board")
  h1 My Board
  button#newWidget new widget
  #board
    each widgets
      +widget

template(name="widget")
  div(class=classes style=style)
    .widget-header
      if isEditingWidget
        button.save Save
      img(src=owner.profile.avatar)
      button.delete X
    if isEditingWidget
      .widget-body
        textarea#widgetContentsEditor
          = contents
        unless hasVotes
          div
            span Desired Feedback:
            select#votingTemplateSelector
              each votingTemplates
                option(value=id,selected=current) 
                  = name
    else
      .widget-body
        = contents
    .widget-votes
      ul 
        each votesArray
          li 
            .vote-line
              button.vote(name=option,class=klass)
                = option
              each votes
                img.voter(src=profile.avatar)
              if userVote
                button.unvote(name=option) X
