head
  title krazy.io

body
  +application

template(name='application')

  #topbar.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
      ul.nav.navbar-nav.navbar-left
        a.navbar-brand krazy.io

  #userbar
    if currentUser
      +with currentUser
        +userbar
    +loginButtons

  #main
    if currentUser
      +board

template(name="userbar")
  img(src=profile.avatar width="30" height="30")

template(name="board")
  h1 My Board
  //input#magicBar(type="text" placeholder="type, friend")
  #board
    each widgets
      +widget
  button#addNewWidget new
  if showNewWidgetForm
    +newWidgetForm

template(name="widget")
  .widget(style=style)
    .widget-header
      img(src=owner.profile.avatar width="20" height="20")
      button.delete X
    if editable
      div.widget-body
        textarea
          = contents
        button.save Save
    else
      div.widget-body
        = contents
    div.widget-votes
      div.yes-votes
        a.yes Yes:
        each votes.yes
          img(src=profile.avatar width="20" height="20")
      div.no-votes
        a.no No:
        each votes.no
          img(src=profile.avatar width="20" height="20")

template(name="newWidgetForm")
  #newWidgetForm
    button#cancelNewWidget cancel
    h3 New widget text:
    div(style="width:100%;")
      textarea#newContent
    h3 Interaction type:
    div(style="width:100%;")
      #votingTemplates
        h3 Template
        ul
          each votingTemplates
            li
              button.templateSelect(name=name) 
                = name   
      #customVotes
        h3 Options
        ul
          each votingOptions
            li 
              input.voteOption(type='text', value=this)
              button.deleteVoteOption(name=this) X
          li
            button.newVoteOption add option
    button#confirmNewWidget Add to board! 

